.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/main-photo.jpg);
    min-height: 35rem;
}

header {
    background-size: cover;
    background-position: center;
}

.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/blog-section-img.jpg);
    background-size: cover;
    background-position: center;
}

.home-title {
    margin-top: 0rem;
    font-weight: bolder;
}
.welcome2 {
    margin-top:'2rem' !important
}


.home-course-header {
    border-radius: 50%;
    height: 20rem;
    max-width: calc(100% - 0.5rem);
    width: 20rem;
}

.blog-header-img {
    height: 20rem;
    object-position: top;
    object-fit:cover;
}

@media only screen and (max-width: 440px) {
    .home-title {
    margin-top: 2rem;
    }

    .welcome-container {
        padding-bottom: 1rem;
    }
}

