.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/main-photo.jpg);
    min-height: 35rem;
}

header {
    background-size: cover;
    background-position: center;
}

.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/blog-section-img.jpg);
    background-size: cover;
    background-position: center;
}

.welcome2 {
    margin-top:'2rem' !important
}

.home-course-header {
    border-radius: 50%;
    height: 20rem;
    max-width: calc(100% - 0.5rem);
    width: 20rem;
}