.courses-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/album6.jpg);
    min-height: 35rem;
}

.courses-page .card-img-overlay {
    background-color: rgba(5, 10, 35, 0.7);
}

.courses-page .card:hover {
    cursor: pointer;
}

.coursesImage {
    height: 20rem;
    object-position: center;
    object-fit:cover;
}

@media only screen and (max-width: 400px) {
.container1 {
margin-top: 6rem;
}

.container2 {
    margin-top: 7rem;
    }
}